.portada {
 position: relative;
 width: 100%;
 padding: auto;
}

.navegadorcaja {
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 100%;
    background-color: rgb(232,187,158);
    display: flex;
    justify-content:space-around;
    
}

.navegador{
    text-decoration: none;
    color: white;
}

.navegador:hover {
    color: rgb(203, 78, 34);
}

video {
    width: 100%;
    height: 10%;
}
.imgcentral {
    width: 200px;
    display: flex;
    justify-content: center;
}

.subtitulos{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}
.container{
    display: flex;
    flex-flow:wrap-reverse;
    justify-content: space-around;
}
h3{
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

button {
    background-color: rgb(203, 78, 34);
    font-size: medium;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    size: 300px;
    border: none;
    padding:20%, 10%,20%, 10%;
    border-radius: 10%;
    position: absolute;
    bottom: -10px;
    right: 10px;
}

.cajas {
    background-color: rgb(232,187,158);
    color: rgb(203, 78, 34);
    width: 200px;
    height: 250px;
    margin: 2% 2% 2% 2%;
    padding: 2% 2% 2% 2%;
    position: relative;
}

.imgcentraltienda {
    width: 300px;
    display: flex;
    justify-content: center;
}

.cajastienda {
    background-color: rgb(232,187,158);
    color: rgb(203, 78, 34);
    width: 300px;
    height: 400px;
    margin: 2% 2% 2% 2%;
    padding: 2% 2% 2% 2%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.enlacescontactos{
    color: rgb(203, 78, 34);
    text-decoration: none;

}
.enlacescontactos:hover {
    color: rgb(232,187,158);
}

footer ul li {
    list-style-type: none;
    text-align: center;
    color: rgb(203, 78, 34);
}

.tienda{
    width: 100%;
}

.parrafo{
    text-align: center;
    color: white;
    font-size: medium;
}

.tienda1 {
    background-color: rgb(232,187,158);
    color: rgb(203, 78, 34);
    width: 10%;
    height: 250px;
    margin: 2% 2% 2% 2%;
    padding: 2% 2% 2% 2%;
}


.tienda2 {
    background-color: rgb(232,187,158);
    color: rgb(203, 78, 34);
    width: 10%;
    height: 250px;
    margin: 2% 2% 2% 2%;
    padding: 2% 2% 2% 2%;
    position: absolute;
    left: 20%;
    top: 40%;
}


.tienda3 {
    background-color: rgb(232,187,158);
    color: rgb(203, 78, 34);
    width: 10%;
    height: 250px;
    margin: 2% 2% 2% 2%;
    padding: 2% 2% 2% 2%;
    position: absolute;
    left: 40%;
    top: 40%;
}


.tienda4 {
    background-color: rgb(232,187,158);
    color: rgb(203, 78, 34);
    width: 10%;
    height: 250px;
    margin: 2% 2% 2% 2%;
    padding: 2% 2% 2% 2%;
}


.tienda5 {
    background-color: rgb(232,187,158);
    color: rgb(203, 78, 34);
    width: 10%;
    height: 250px;
    margin: 2% 2% 2% 2%;
    padding: 2% 2% 2% 2%;
    position: absolute;
    left: 20%;
    top: 85%;
}


.tienda6 {
    background-color: rgb(232,187,158);
    color: rgb(203, 78, 34);
    width: 10%;
    height: 250px;
    margin: 2% 2% 2% 2%;
    padding: 2% 2% 2% 2%;
    position: absolute;
    left: 40%;
    top: 85%;
}

p {
    font-size: small;
    color: black;
}

.tutorial {
    width: 300px;
    display: flex;
    justify-content: center;
}

.tuto {
    background-color: rgb(232,187,158);
    color: rgb(203, 78, 34);
    width: 300px;
    height: 440px;
    margin: 2% 2% 2% 2%;
    padding: 2% 2% 2% 2%;
    position: relative;
    display: flex;
    flex-direction: column;
}
